*.rbc
*.sassc
.zeus.sock
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*.swp
test/
config/database.yml
custom_plan.rb
zeus.json
Guardfile